
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif; /*Depois escolher uma fonte que melhor se encaixa neste projeto */
}

header h1{
    margin: 1rem;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
