

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:Code, sans-serif;
    src: url(./../fonts/CODE\ Bold.otf)
}

nav{
    padding: 1rem;
    background-color: #3359ec;    
}

nav ul{
    list-style: none;
    display:flex;
    justify-content:space-around;
}

nav ul li{
    padding: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}