@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Odibee Sans', cursive;
}

nav{
    font-size: 30px;
    padding: 1rem;
    background-color: #3359ec;    
}

nav ul{
    list-style: none;
    display:flex;
    justify-content:space-around;
}

nav ul li{
    padding: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}

header div#img-rocket{
    width: 60%;
    display: flex;
    justify-content: center;
}

header div p{
    font-size: 2vw;
    color: #3359ec;

}

header div span{
    font-size: 1vw;
    color: #0066ff;
}

header div img{
    width: 60%;
}

section#sobre-mim{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #3359ec;
}

section#sobre-mim div img{
    width: 60%;
    border-radius: 50%;
    transform: scaleX(-1)
}

section#sobre-mim div p {
    font-size: 1.1vw;
    text-align: justify;
    color: #fff;
    line-height: 2.5rem;

}